# Jackett/Prowlarr
JACKETT_URL=http://prowlarr:9696
JACKETT_API_KEY=your_jackett_api_key_here

# Redis
REDIS_URL=redis://localhost:6379

# qBittorrent
QBIT_URL=http://localhost:8080
QBIT_USER=admin
QBIT_PASS=your_qbit_password_here
QBIT_SAVE_DIR=/data/prowjack
QBIT_MIN_PROGRESS=0.01 
QBIT_BUFFER_TIMEOUT=180


